h1 {
  font-size: 20em;
  font-weight: 800;
}

h2 {
  font-weight: 500;
}

/* Add an black color to all icons and set the font-size */
.logo-small {
    color: black;
    font-size: 50px;
}

.logo {
    color: #f4511e;
    font-size: 200px;
}

.spacer {
    width: 100px;
    height: 2px;
    margin: auto;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:unvisited {
  color: black;
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}
/* Make font Oxygen font */
body {
  font-family: 'Oxygen', sans-serif;
}

.block {
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
}
.circle {
    background: #3498db;
    border-radius: 200px;
    height: 150px;
    font-size: 1.5em;
    width: 150px;
    display: table;
    margin: 20px auto;
}
.circle p {
    vertical-align: middle;
    display: table-cell;
}