html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  min-height: 100%;
  margin-bottom: 60px;
  background-color: #f8f9fa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, sans-serif;
}

ul, ol {
  list-style-type: none;
}

body > nav {
  transition-duration: 0.4s;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #222;
}

.navbar-brand {
  font-size: 2em;
  transition-duration: 0.4s;
}

#header {
  padding-top: 15%;
  height: 100vh;
  width: 100wh;
}

#description {
  margin-top: 60px;
}

#social-media {
  margin: 60px 60px 0 60px;
}

#social-media > div > div > a > i {
  color: #222;
  transition-duration: 0.2s;
}

#social-media > div > div > a > i:hover {
  color: #0275d8;
}

#navbarCollapse > ul > li.nav-item > a {
  font-size: 1.1rem;
  transition-duration: 0.4s;
}

#navbarCollapse > ul > li.nav-item > a:hover {
  font-weight: bold;
}

#about {
  padding-top: 60px;
  height: 120vh;
  background-color: #222;
  color: #f8f9fa;
}

#about > .container-fluid > .row > * {
  padding: 0 3em 0 3em;
}

#about > .container-fluid > .row > .col-md-8 > h3 {
  font-size: 1.2em;
  margin-bottom: 30px;
}

#about > .container-fluid > .row > .col-md-8 > h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

#about > .container-fluid > .row > .col-md-8 > p {
  font-size: 1.15em;
}

#about > .container-fluid > .row > .col-md-4 > img {
  border-radius: 50%;
  width: 100%;
  border: 2px solid #3498db;
}

#education {
  padding-top: 60px;
  height: 120vh;
  background-color: #f8f9fa;
  color: #222;
}

#experience {
  padding-top: 60px;
  height: 120vh;
  background-color: #222;
  color: #f8f9fa;
}

#projects {
  padding-top: 60px;
  height: 120vh;
  background-color: #f8f9fa;
  color: #222;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.info-square {
  color: #f8f9fa;
  border: 2px solid #222;
  background-color: #222;
  border-radius: 6px;
  letter-spacing: 0.025rem;
  transition-duration: 0.2s;
  padding: 10px;
  text-align: left;
}

.info-square:hover {
  color: white;
  border-color: #3498db;
}

.navbar-inner {
  background:transparent;
}

.spacer {
  margin: 10px 0 10px 0;
  display: block;
  width: 100px;
  height: 2px;
  background-color: #3498db;
  float: center;
}

#downloadcv > div > button {
  background-color: #6dd280;
  border: 1px solid white;
}