html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  min-height: 100%;
  margin-bottom: 60px;
  background-color: #f8f9fa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, sans-serif;
}

ul, ol {
  list-style-type: none;
}

body > nav {
  transition-duration: 0.4s;
  color: white;
}

.navbar-inverse .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #222;
}

.navbar.navbar-inverse.navbar-toggleable-md.navbar-bg-inverse.fixed-top > .navbar-brand {
  font-size: 2em;
  color: #222;
  transition-duration: 0.4s;
}

#header {
  padding-top: 25vh;
  height: 100vh;
  width: 100wh;
}

#header > .container-fluid > .d-flex > .p-1 {
  margin: 0 8% 0 8%;
}

#description {
  margin-top: 60px;
}

#social-media {
  margin: 60px 60px 0 60px;
}

#social-media > div > div > a > i {
  color: #222;
  transition-duration: 0.2s;
}

#social-media > div > div > a > i:hover {
  color: #0275d8;
}

#navbarCollapse > ul > li.nav-item > a {
  color: #222;
  font-size: 1.1rem;
  transition-duration: 0.4s;
}

#navbarCollapse > ul > li.nav-item > a:hover {
  font-weight: bold;
}

#about {
  padding: 8% 8% 8% 8%;
  background-color: #222;
  color: #f8f9fa;
}

#about > .container-fluid > .row > .col-md-8 > h3 {
  font-size: 1.2em;
  margin-bottom: 30px;
}

#about > .container-fluid > .row > .col-md-8 > h2 {
  font-size: 3em;
  margin: 2% 0 4% 0;
}

#about > .container-fluid > .row > .col-md-8 > p {
  font-size: 1.15em;
}

#about > .container-fluid > .row > .col-md-4 > img {
  border-radius: 50%;
}

#education {
  padding: 8% 8% 8% 8%;
  background-color: #f8f9fa;
  color: #222;
}

#education > .container-fluid > .flex-row > .p-1 {
  flex: 1
}

#education > .container-fluid > .flex-row > .card {
  margin: 1rem;
}

#education > .container-fluid > .flex-row > .d-flex > .card-block > .d-flex > .p-1 {
  flex: 1;
}

#education > .container-fluid > .flex-row > .d-flex > .card-block > .d-flex > .p-2 {
  flex: 2;
  padding: 0.25rem 0.25rem!important;
}

#education > .container-fluid > .flex-row > .p-2 {
  flex: 2
}

#education > .container-fluid > .flex-row > .p-1 > img {
  width: 100%;
  padding-top: 1em
}

#education > .container-fluid > .flex-row > .p-1 > .card-block > .card-text {
  margin: 0;
}

#skills {
  padding: 8% 8% 8% 8%;
  background-color: #222;
  color: #f8f9fa;
}

#skills > .container-fluid > .d-flex {
  justify-content: center;
}

#skills > .container-fluid > .d-flex > .card {
  height: 13rem;
  width: 13rem;
  margin: 20px;
}

#skills > .container-fluid > .d-flex > .card > img {
  max-height: 70%;
  max-width: 70%;
  margin: 0.5rem 2rem 0.5rem 2rem;
}

#skills > .container-fluid > .d-flex > .card > .card-block {
  margin-top: 0;
  padding: 0;
}

#skills > .container-fluid > .d-flex > .card > .card-block > .card-title {
  color: #222;
  margin-top: 0;
  font-size: 2em;
}

#experience {
  padding: 8% 8% 8% 8%;
  background-color: #f8f9fa;
  color: #222;
}

#projects {
  padding: 8% 8% 8% 8%;
  background-color: #222;
  color: #f8f9fa;
}

#projects > .container-fluid > .col-md-12 > a {
  transition-duration: 0.2s;
}

.project {
  padding: 0 30px 0 30px;
}

.project-image {
  margin: 20px 0 20px 0;
}

.project-image > div > div > img {
  max-height: 400px;
  margin: auto;
  width: 80%;
}

@media screen and (max-width: 780px) { 
  .carousel-inner {
    display: none;
  }
}

.project-description {
  margin: 30px;
}

.project-description > h3 {
  font-weight: bold;
}

#contact {
  padding: 8% 8% 0 8%;
  background-color: #f8f9fa;
  height: 100vh;
  color: #222;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.info-square {
  color: #f8f9fa;
  border: 2px solid #222;
  background-color: #222;
  border-radius: 6px;
  letter-spacing: 0.025rem;
  transition-duration: 0.2s;
  padding: 10px;
  text-align: left;
}

.info-square:hover {
  color: white;
  border-color: #3498db;
}

.navbar-inner {
  background: transparent;
}

.spacer {
  margin: 1% 0 1% 0;
  width: 100px;
  height: 2px;
  background-color: #3498db;
}

#downloadcv > div > button {
  background-color: #6dd280;
  border: 1px solid white;
}